body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#authForm {
    width: 300px;
    padding-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto;
}

#resetForm {
    width: 300px;
    padding-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto;
}

input[type="username"],
input[type="text"],
input[type="email"],
input[type="text"],
input[type="password"],
button[id="resetButton"],
button[id="signUpButton"],
button[id="signInButton"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    display: block;
    margin: 0 auto 10px;
    color: #ffffff;
}

input[type="username"],
input[type="text"],
input[type="email"],
input[type="text"],
input[type="password"] {
    border: 1px solid #ffffff;
    background-color: #121212;
}

input[type="username"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #9000ff;
    outline: none;
}

button[id="resetButton"],
button[id="signUpButton"],
button[id="signInButton"] {
    z-index: 1;
    border: none;
    background-color: #9000ff;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

footer {
    text-align: center;
    }
    
    .links {
        a {
            z-index: 1;
            color: #cccccc;
            text-decoration: none;
        }
        
        a:hover {
            z-index: 1;
            text-decoration: underline;
        }
}